.login-required h6 { top: 60px; }
.mdl-layout__content .content { max-width: 1080px; }
.mdl-grid { padding: 8px 0; }

/*
  Header
*/

.mdl-layout__header { height: 130px; }
.mdl-layout__header .mdl-layout__drawer-button { color: rgba(0, 0, 0, 0.54); }
.mdl-layout__header .material-icons { color: white; }

/*
  Left Drawer (Menu)
*/

.mdl-layout__drawer {
	border: none;
	width: 270px;
	transform: translateX(-280px);
}

.mdl-layout__drawer header { padding: 16px; }

.mdl-layout__drawer .mdl-menu .mdl-menu__item {
	display: flex;
	align-items: center;
}

.mdl-layout__drawer .mdl-navigation { flex-grow: 1; }

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #fff;
	font-weight: 500;
	padding: 16px 30px;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
	background-color: #263238;
	cursor: pointer;
}

.mdl-layout__drawer .mdl-navigation__link .material-icons {
	font-size: 24px;
	color: rgba(255, 255, 255, 0.56);
	margin-right: 32px;
}

/*
  Cards
*/

.mdl-card { z-index: auto; }
.mdl-card .spacer { height: 15px; }
.mdl-card .value { display: inline-block; }
.mdl-card .mdl-card__title { color: white; }
.mdl-card .mdl-card__menu .material-icons { color: white; }
.mdl-card .mdl-card__menu span { margin: 0 10px 0 0; }

.mdl-card #avatar {
	float:left;
	margin-right: 40px;
}

.mdl-card #avatar img {
	border-radius: 50%;
	max-height: 128px;
}

.mdl-card .key {
	font-weight: bold;
	width: 16%;
	display: inline-block;
}

.mdl-card .mdl-card__menu a {
	font-weight: 400;
	font-size: 14px;
	display: inline-flex;
}

.mdl-card .recentDownloads .mdl-card__menu { position: relative; }
.mdl-card .recentDownloads { width: 100%; }
.mdl-card .recentDownloads section { margin-right: 36px; } /* An ugly fix for cards inside a card */

.mdl-card.recentCards {
	flex-direction: row;
	min-height: inherit;
}

.mdl-card.recentCards .mdl-card__title-text img {
	max-height: 64px;
	margin: 15px;
}

#optionsCard { order: 1 }
#downloadsCard { order: 2 }
#torrentsCard { order: 3 }
#accountCard { order: 4 }
#warningCard { order: 5 }
#recentCard { order: 6 }

/*
  Footer
*/

.mdl-mini-footer {
	margin-top: 20px;
	bottom: 0;
}

.mdl-mini-footer button {
	min-width: 36px;
	padding: 22px;
}

.mdl-mini-footer #webstore { background: url("/icons/webstore.png") center no-repeat; }
.mdl-mini-footer #git { background: url("/icons/github.png") center no-repeat; }
.mdl-mini-footer #twitter { background: url("/icons/twitter.png") center no-repeat; }

/*
	Responsive
*/

@media (max-width: 839px) and (min-width: 480px) {
	#accountCard {
		order: 5
	}
	#warningCard {
		order: 4
	}
}

@media (max-width: 839px) {
	.mdl-mini-footer .mdl-mini-footer__link-list {
		display: inline-block;
		margin-left: 25px;
	}
}

@media (max-width: 1080px) {
	.mdl-layout__content .content { /* Overflow fix */
		margin: 0 16px;
	}
}
