html, body {
	font-family: 'Roboto', 'Helvetica', sans-serif;
}

a {
	color: #546e7a;
	text-decoration: none;
}

a.mdl-button {
	color: #3f51b5!important;
}


/*
  Header
*/

.mdl-layout__header {
	height: 130px;
	overflow: visible; /* A fix for tooltip not showing */
}

.mdl-layout__header .mdl-layout__drawer-button {
	color: rgba(0, 0, 0, 0.54);
}

.mdl-layout__header .material-icons {
	color: white;
}


/*
  Left Drawer (Menu)
*/

.mdl-layout__drawer {
	border: none;
	width: 270px;
	transform: translateX(-280px);
}

.mdl-layout__drawer header {
	padding: 16px;
}

.mdl-layout__drawer .mdl-menu .mdl-menu__item {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.mdl-navigation {
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.mdl-navigation .mdl-navigation__link {
	display: -webkit-flex !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	color: white!important;
	font-weight: 500;
	padding: 16px 30px!important;
}

.mdl-navigation .mdl-navigation__link:hover {
	background-color: #263238 !important;
	color: #37474F;
	cursor: pointer;
}

.mdl-navigation__link .material-icons {
	font-size: 24px;
	color: rgba(255, 255, 255, 0.56);
	margin-right: 32px;
}


/*
  Cards
*/

.mdl-layout__content .content {
	max-width: 1080px;
}

.mdl-grid {
	padding: 8px 0;
}

.mdl-card {
	overflow: visible; /* A fix for tooltip not showing */
	z-index: auto;
}

.mdl-card .mdl-card__title {
	color: white;
}

.mdl-card .mdl-switch__label {
	font-size: 14px;
}

.mdl-card__menu .material-icons {
	color: white;
}

.mdl-card .spacer {
	height: 15px;
}

.mdl-card #avatar {
	float:left;
	margin-right: 40px;
}

.mdl-card #avatar img {
	border-radius: 50%;
	max-height: 128px;
}

.mdl-card .key {
	font-weight: bold;
	width: 16%;
	display: inline-block;
}

.mdl-card .value {
	display: inline-block;
}

.mdl-card__menu a {
	font-weight: 400;
	font-size: 14px;
	display: inline-flex;
}

.mdl-card__menu span {
	margin: 0 10px 0 0;
}

.mdl-card .recentDownloads .mdl-card__menu {
	position: relative;
}

.mdl-card .recentDownloads {
	width: 100%;
}

.mdl-card .recentDownloads section { /* An ugly fix for cards inside a card */
	margin-right: 36px;
}

.mdl-card.recentCards {
	flex-direction: row;
	min-height: inherit;
}

.mdl-card.recentCards .mdl-card__title-text img {
	max-height: 64px;
	margin: 15px;
}

.mdl-card.recentCards .filename {
	word-wrap: break-word;
}

.mdl-card .login-required h6 {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 10px 15px;
    box-sizing: border-box;
}

.mdl-card .login-required .material-icons {
	margin:0 10px 0 0;
	vertical-align:top;
}

#optionsCard {
	order: 1
}

#downloadsCard {
	order: 2
}

#torrentsCard {
	order: 3
}

#accountCard {
	order: 4
}

#warningCard {
	order: 5
}

#recentCard {
	order: 6
}

/*
  Footer
*/

.mdl-mini-footer {
	margin-top: 20px;
	bottom: 0;
}

.mdl-mini-footer button {
	min-width: 36px;
	padding: 22px;
}

.mdl-mini-footer #webstore {
	background: url("/icons/webstore.png") center no-repeat;
}

.mdl-mini-footer #git {
	background: url("/icons/github.png") center no-repeat;
}

.mdl-mini-footer #twitter {
	background: url("/icons/twitter.png") center no-repeat;
}

/*
	Responsive
*/

@media (max-width: 839px) and (min-width: 480px) {
	#accountCard {
		order: 5
	}
	#warningCard {
		order: 4
	}
}

@media (max-width: 839px) {
	.mdl-mini-footer .mdl-mini-footer__link-list {
		display: inline-block;
		margin-left: 25px;
	}
}

@media (max-width: 1080px) {
	.mdl-layout__content .content { /* Overflow fix */
		margin: 0 16px;
	}
}
