html, body {
	min-width: 500px;
	min-height: 400px;
}

.downloadPage { margin: 2% 0; }

#download .page-content {
	text-align: center;
	padding: 20px;
}

.login-required h6 { top: 0; }

/*
  Material
*/

.mdl-layout__header { padding-top: 15px; }
.mdl-layout__header-row { padding: 0 32px; }
.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after { background: #fff; }

.mdl-card.recentCards .filename { font-size: 13px; }

.mdl-card.recentCards .recentLinks {
	position: absolute;
	right: 16px;
	bottom: 6px;
}
