
$sidebar-width: 250px;
$logo: url("../img/logo.png");

#sidebar{
    background-color: $sidebar-color;
    width: $sidebar-width;
    height: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;

    .brand{
        background-color: darken($sidebar-color, 10%);
        padding: 15px;
        color: white;
    }

    .footer {
        position: absolute;
        bottom: 0;
        color: white;
        font-size: 0.8em;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    ol{
        display: flex;
        flex-direction: column;
        color: lighten($sidebar-color,35%);
        padding:0;
        margin: 0;

        li{
            display: flex;
            padding:0;
            margin: 0;
            border-bottom: 1px solid darken($sidebar-color, 2%);

            a{
                flex: 1;
                padding: 15px;
                color: lighten($sidebar-color,35%);
                text-decoration: none;
                font-weight: bold;
                position: relative;
                transition: all 0.3s ease;
                
                i{
                    float:right;
                    position: relative;
                }
            }
            
            a:hover{
                position: relative;
                padding-left: 35px;
                background-color: transparentize(darken($sidebar-color, 8%), 0.4);
            }
            

            .fa{
                position: relative;
                top: 2px;
                color: darken($sidebar-color,15%);
            }


        }
    }

}