h1 {
	font-size: 2em;
	font-weight: bold;
	margin: 0px
}

h2 {
	font-size: 1.5em;
	font-weight: bold;
	margin: 0px
}

h3 {
	font-size: 1.17em;
	font-weight: bold;
	margin: 0px
}

h5 {
	font-size: .83em;
	margin: 0px
}

h6 {
	font-size: .75em;
	margin: 0px
}