$background-color: #FFF;
$font-color: #444;
$font-size: 16px;
$font-stack: sans-serif;
$width: 300px;
$brand-color: #428bca;

* {
    margin: 0;
    padding: 0;
}


@-webkit-keyframes hover{
    0%{
        padding-left:15px;
        background-color: transparent;
    }

    100%{
        padding-left:35px;
        background-color: darken($background-color, 5%);
    }
}

@-webkit-keyframes hover-out{
    0%{
        padding-left:35px;
        background-color: darken($background-color, 5%);
    }

    100%{
        padding-left:15px;
        background-color: transparent;
    }
}

body{
    background-color: $background-color;
    font-size: $font-size;
    color: $font-color;
    font-family: $font-stack;
    width: $width;
}

.brand{
    background-color: darken($brand-color, 10%);
    padding: 15px;
    align: center;
    color: white;
    text-shadow: 0 0 5px  darken($brand-color,50%);

    h1{
        margin: 0;
        padding :0;
        padding :0;
    }
}

.actions {


	ol{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;

        li{
            display: flex;
            margin: 0;
            padding: 0;

            a{
                flex: 1;
                color: darken($brand-color,35%);
                padding: 15px;
                text-decoration: none;
                font-weight: bold;
                -webkit-animation: hover-out 0.3s 0s;
                -webkit-animation-fill-mode: forwards;
                i{
                    float: right;
                }
            }

            a:hover{
                position: relative;
                -webkit-animation: hover 0.3s 0s;
                -webkit-animation-fill-mode: forwards;
            }

            .fa{
                position: relative;
                top: 2px;
                color: darken($brand-color,15%);
            }
        }
    }
}



@import "vars";
@import "typography";
